$default_width: 610px;
$max_content_width: 1240px;
$breakpoint_sm: 482px;
$breakpoint_md: 592px;
$breakpoint_lg: 652px;
$breakpoint_xl: 822px;
$breakpoint_xxl: 1024px;

// Responsive breakpoints mixin
@mixin media( $res ) {

	@if mobile == $res {
		@media only screen and (max-width: $breakpoint_sm) {
			@content;
		}
    }

	@if tablet == $res {
		@media only screen and (max-width: $breakpoint_md) {
			@content;
		}
    }

	@if desktop == $res {
		@media only screen and (max-width: $breakpoint_lg) {
			@content;
		}
    }

	@if wide == $res {
		@media only screen and (max-width: $breakpoint_xl) {
			@content;
		}
    }
    
}